* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.content {
  height: 100vh;
  background: #020631;
  width: 100%;
}

.content .to-do-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.content .to-do-list .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  text-align: center;
}

.content .to-do-list .icon h2 {
  color: white;
  font-size: 35px;
}

.content .to-do-list .icon img {
  width: 50px;
}

.content .to-do-list .todoList {
  display: flex;
  position: relative;
}

.content .to-do-list .todoList input {
  flex: 1;
  width: 600px;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #eee;
  outline: none;
  margin-bottom: 30px;
  border: none;
}

.content .to-do-list .todoList button {
  padding: 11px 20px;
  top: 0;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  transition: all 0.3s;
}

.content .to-do-list .todoList button:hover {
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

.content .to-do-list .lists li {
  color: black;
  width: 600px;
  margin-bottom: 20px;
  background-color: white;
  word-break: break-all;
  position: relative;
  list-style: none;
  padding: 15px 50px;
  cursor: pointer;
  flex-wrap: wrap;
  border-radius: 10px;
}

.content .to-do-list .lists li::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('https://img.icons8.com/?size=100&id=37375&format=png&color=000000');
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
}

.checked {
  text-decoration: line-through;
  color: #555 !important;
}

.content .to-do-list .lists li.checked::before {
  background-image: url('https://img.icons8.com/color/48/verified-account--v1.png');
}

.content .to-do-list .lists li span {
  position: absolute;
  right: 15px;
  background-color: red;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .content .to-do-list .todoList input {
    width: 80vw;
  }

  .content .to-do-list .lists li {
    width: 80vw;
  }
}
